<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
	
	
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>FirstServlet</servlet-class >
	</servlet>
	
	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>SecondServlet</servlet-class >
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/osm1</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SecondServlet</servlet-name>
		<url-pattern>/osm2</url-pattern>
	</servlet-mapping>

</web-app>
